<section class="flex justify-content-between mt-3 mb-3">
  <p>Token aqui {{messagingService.token}}</p>
  <h3 class="font-bold">
    Valor total a ser pago mês de
    {{ willService["dataFiltro"].value | date: "MMMM" }} de
    {{ willService["dataFiltro"].value | date: "yyyy" }}:
    {{ willService.valorTotalMes | currency: "BRL" }}
  </h3>
  <button pButton routerLink="ida-terapia/incluir">
    Incluir Ida a Terapia
  </button>
</section>
<p-table
  [value]="listaCorridaTerapia"
  [paginator]="true"
  [rowsPerPageOptions]="[5, 10, 20]"
  [rows]="5"
  sortMode="multiple"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Indicador Levou</th>
      <th>Indicador Trouxe</th>
      <th pSortableColumn="data">Data <p-sortIcon field="data" /></th>
      <th>Valor da Ida</th>
      <th>Valor da Volta</th>
      <th>Valor total dia</th>
      <th>token</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-corr>
    <tr>
      <td
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        <p-tag
          [rounded]="true"
          [severity]="corr.indicadorPodeLevar ? 'success' : 'danger'"
          [value]="corr.indicadorPodeLevar ? 'Sim' : 'Não'"
        />
      </td>
      <td
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        <p-tag
          [rounded]="true"
          [severity]="corr.indicadorPodeTrazer ? 'success' : 'danger'"
          [value]="corr.indicadorPodeTrazer ? 'Sim' : 'Não'"
        />
      </td>
      <td
        class="font-bold"
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        {{ corr.dataidavolta | date: "dd/MM/yyyy" }}
      </td>
      <td
        class="font-bold"
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        {{ corr.valorCorrida | currency: "BRL" }}
      </td>
      <td
        class="font-bold"
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        {{ corr.valorVolta | currency: "BRL" }}
      </td>
      <td
        class="font-bold"
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        {{ corr.valorTotal | currency: "BRL" }}
      </td>

      <td
    >
      {{ messagingService.token }}
    </td>

      <td
        [class]="
          corr.indicadorPodeLevar && corr.indicadorPodeTrazer
            ? 'bg-green-200'
            : 'bg-red-200'
        "
      >
        <button
          type="button"
          pButton
          pRipple
          severity="danger"
          icon="pi pi-trash"
          (click)="deletarIdaTerapia(corr)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
